.online {
  color: rgb(55 126 34);
  margin: 0;
  font-size: large;
}

.offline {
  color: rgb(234 51 35);
  margin: 0;
  font-size: large;
  margin-bottom: 10px;
}

.card {
  border: 3px solid rgb(0 0 0);
  border-radius: 10px;
  width: 130px;
}

.cardList {
  display: flex;
  gap: 10px;
  cursor: context-menu;
}

.friendName {
  margin: 0;
  font-weight: 500;
  font-size: x-large;
}

.img {
  margin-top: 10px;
}
